{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page-title">Movie Review</div>

        <form action="/posts/{{review.id}}/update/" method="post">
            {% csrf_token %}
            <div class="label">제목: </div>
            <input class="title" name="title" value="{{review.title}}">

            <div class="label">개봉년도: </div>
            <input class="release" name="release" value="{{review.release}}">

            <div class="label">장르: </div>
            <input class="genre" name="genre" value="{{review.genre}}">

            <div class="label">별점: </div>
            <input class="rating" name="rating" value="{{review.rating}}">

            <div class="label">러닝타임: </div>
            <input class="runningTime" name="runningTime" value="{{review.runningTime}}">

            <div class="label">리뷰: </div>
            <input class="content" name="content" value="{{review.content}}">

            <div class="label">감독: </div>
            <input class="director" name="director" value="{{review.director}}">

            <div class="label">배우: </div>
            <input class="actor" name="actor" value="{{review.actor}}">

            <div>
                <input type="submit" value="수정완료">
            </div>
        </form>
    </div>
{% endblock %}